.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */

  margin: 0 auto;  
  width: 720px;
}

nav
{
  float:right;
  width: 20%;
  margin: 10px auto;

}

.content
{
  width: 80%;
  margin-right : 145px;
  border-right: 2px solid gray;
  padding-right: 15px;
  padding-bottom:13px;
}

nav ul
{
   list-style-type:none;
   width: 120px;
}

header
{

}

.footer
{
  padding-top:20px;
  margin-bottom: 20px;
  width:100%;

  border-top: 2px solid gray;

}

.content section:last-child p:last-child
{
  margin-bottom: 0px;
}
